<section class="grid-fluid ng-star-inserted">
  <div class="contributor-group"><!---->
    <div class="aio-contributor ng-star-inserted">
      <div class="contributor-card">
        <div class="card-front">
          <h3>André Staltz</h3>
          <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/90512&quot;);">
            <div class="contributor-info"><!----><!---->
              <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/andrestaltz">
                <span class="fa fa-twitter fa-2x"></span></a><!---->
                <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/staltz">
                  <span class="fa fa-github fa-2x"></span></a><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://staltz.com">
                    <span class="fa fa-link fa-2x"></span>
                  </a>
                </div>
              </div>
            </div><!---->
          </div>
        </div>
        <div class="aio-contributor ng-star-inserted">
          <div class="contributor-card">
            <div class="card-front">
              <h3>Matthew Podwysocki</h3>
              <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/49051&quot;);">
                <div class="contributor-info"><!----><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/mattpodwysocki">
                    <span class="fa fa-twitter fa-2x"></span>
                  </a><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/mattpodwysocki">
                    <span class="fa fa-github fa-2x"></span>
                  </a><!---->
                </div>
              </div>
            </div><!---->
          </div>
        </div>
      </div>
    </section>