<section class="grid-fluid ng-star-inserted">
  <div class="contributor-group"><!---->
    <div class="aio-contributor ng-star-inserted">
      <div class="contributor-card">
        <div class="card-front">
          <h3>Cédric Soulas</h3>
          <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/802010&quot;);">
            <div class="contributor-info"><!----><!---->
              <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/CedricSoulas">
                <span class="fa fa-twitter fa-2x"></span></a><!---->
                <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/cedricss">
                  <span class="fa fa-github fa-2x"></span></a><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://reactive.how/">
                    <span class="fa fa-link fa-2x"></span>
                  </a>
                </div>
              </div>
            </div><!---->
          </div>
        </div>
        <div class="aio-contributor ng-star-inserted">
          <div class="contributor-card">
            <div class="card-front">
              <h3>Jason Aden</h3>
              <div class="contributor-image" style="background-image: url(&quot;https://avatars1.githubusercontent.com/u/516168&quot;);">
                <div class="contributor-info"><!----><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/jasonaden1">
                    <span class="fa fa-twitter fa-2x"></span>
                  </a><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/jasonaden">
                      <span class="fa fa-github fa-2x"></span>
                    </a><!---->
                  </div>
                </div>
              </div><!---->
            </div>
          </div>
          <div class="aio-contributor ng-star-inserted">
            <div class="contributor-card">
              <div class="card-front">
                <h3>Natalie Smith</h3>
                <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/19582796&quot;);">
                  <div class="contributor-info"><!----><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/natalie_megan">
                      <span class="fa fa-twitter fa-2x"></span>
                    </a><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/natmegs">
                      <span class="fa fa-github fa-2x"></span>
                    </a><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://nataliesmith.ca/">
                      <span class="fa fa-link fa-2x"></span>
                    </a>
                  </div>
                </div>
              </div><!---->
            </div>
          </div>
        </div>
      </section>
