<section class="grid-fluid ng-star-inserted">
  <div class="contributor-group"><!---->
    <div class="aio-contributor ng-star-inserted">
      <div class="contributor-card">
        <div class="card-front">
          <h3>Ashwin Sureshkumar</h3>
          <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/4744080&quot;);">
            <div class="contributor-info"><!----><!---->
              <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/Sureshkumar_Ash">
                <span class="fa fa-twitter fa-2x"></span></a><!---->
                <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/ashwin-sureshkumar">
                  <span class="fa fa-github fa-2x"></span></a><!---->
                  <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://t.co/XduklnxpK3">
                    <span class="fa fa-link fa-2x"></span>
                  </a>
                </div>
              </div>
            </div><!---->
          </div>
          </div><div class="aio-contributor ng-star-inserted">
            <div class="contributor-card">
              <div class="card-front">
                <h3>Brian Troncone</h3>
                <div class="contributor-image" style="background-image: url(&quot;https://avatars3.githubusercontent.com/u/5085101&quot;);">
                  <div class="contributor-info"><!----><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://twitter.com/btroncone">
                      <span class="fa fa-twitter fa-2x"></span>
                    </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/btroncone">
                        <span class="fa fa-github fa-2x"></span>
                      </a><!---->
                  </div>
                </div>
              </div><!---->
            </div>
          </div>
          <div class="aio-contributor ng-star-inserted">
            <div class="contributor-card">
              <div class="card-front">
                <h3>Jan-Niklas Wortmann</h3>
                <div class="contributor-image" style="background-image: url(&quot;https://avatars3.githubusercontent.com/u/6104311&quot;);">
                  <div class="contributor-info"><!----><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/niklas_wortmann">
                      <span class="fa fa-twitter fa-2x"></span>
                    </a><!---->
                    <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/JWO719">
                      <span class="fa fa-github fa-2x"></span>
                    </a><!---->
                  </div>
                </div>
              </div>
              <!----></div>
            </div>
            <div class="aio-contributor ng-star-inserted">
              <div class="contributor-card">
                <div class="card-front">
                  <h3>Jen Luker</h3>
                  <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/1584489&quot;);">
                    <div class="contributor-info"><!----><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/knitcodemonkey">
                        <span class="fa fa-twitter fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/knitcodemonkey">
                        <span class="fa fa-github fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://jenluker.com">
                        <span class="fa fa-link fa-2x"></span>
                      </a>
                    </div>
                  </div>
                </div><!---->
              </div>
            </div>
            <div class="aio-contributor ng-star-inserted">
              <div class="contributor-card">
                <div class="card-front">
                  <h3>Sumit Arora</h3>
                  <div class="contributor-image" style="background-image: url(&quot;https://avatars3.githubusercontent.com/u/198247&quot;);">
                    <div class="contributor-info"><!----><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/arorasumit">
                        <span class="fa fa-twitter fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/sumitarora">
                        <span class="fa fa-github fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://www.arorasumit.com/">
                        <span class="fa fa-link fa-2x"></span>
                      </a>
                    </div>
                  </div>
                </div><!---->
              </div>
            </div>
            <div class="aio-contributor ng-star-inserted">
              <div class="contributor-card">
                <div class="card-front">
                  <h3>Tracy Lee</h3>
                  <div class="contributor-image" style="background-image: url(&quot;https://avatars0.githubusercontent.com/u/8270563&quot;);">
                    <div class="contributor-info"><!----><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://twitter.com/ladyleet">
                        <span class="fa fa-twitter fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="https://github.com/ladyleet">
                        <span class="fa fa-github fa-2x"></span>
                      </a><!---->
                      <a class="icon ng-star-inserted" mat-button="" target="_blank" href="http://thisdot.co">
                        <span class="fa fa-link fa-2x"></span>
                      </a>
                    </div>
                  </div>
                </div><!---->
              </div>
            </div>
          </div>
        </section>
