<nav class="side_menu" id="navbar">
  
  <div class="navigate">
    <header><a routerLink="/"> RxJS </a></header>
  </div>
  <div class="navigate">
    <a class="nav-link" routerLink="/overview">Overview</a>
  </div>
  <ul class="sub_navigate">
    <li><a class="nav-link" routerLink="/overview/observables">Observables</a></li>
    <li><a class="nav-link" routerLink="/overview/subscription">Subscription</a></li>
    <li><a class="nav-link" routerLink="/overview/subject">Subjects</a></li>
  </ul>
  <div class="navigate">
    <a class="nav-link" routerLink="/installation">Installation</a>
  </div>
  <div class="navigate">
    <a class="nav-link" href="#Reference">Reference</a>
  </div>
  <div class="navigate">
    <a class="nav-link" href="#About_Version_6">About Version 6</a>
  </div>
  <ul class="sub_navigate">
    <li><a class="nav-link" href="#About_Version_6">Migration</a></li>
    <li><a class="nav-link" href="#About_Version_6">Deprecations</a></li>
  </ul>
  <div class="navigate">
    <a class="nav-link" href="#Code_of_Conduct">Code of Conduct</a>
  </div>
  
</nav>


<nav class="navbar">
  <div class="menu" onclick="openNav()" id="menu">
    <div class="menu_icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="22px" height="40px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
        <g id="menu">
          <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z" fill="#FFFFFF"/>
        </g>
      </svg>
    </div>
  </div>
  <a routerLink="/">
      <img width="40" src="https://cdn-images-1.medium.com/max/1200/1*JQ_FA4arzgHWD9rp9JSjvg.png" alt="">
  </a>
  <a routerLink="/" class="big_screen"><header class="logo_name">RxJS</header></a>
  <a routerLink="/overview" class="big_screen"><span>overview</span></a>
  <a href="#" class="big_screen nav-link"><span>reference</span></a>
  <a href="#" class="big_screen"><span>migration</span></a>
  <a href="#" class="big_screen"><span>team</span></a>
  <a href="https://github.com/ReactiveX/rxjs" target="_blank"><i class="fa fa-github"></i></a>
</nav>

<div id="dark_mat"></div>

<main  in class="main" id="main-doc">
  <router-outlet></router-outlet>
</main>

<footer id="footer">
  <div class="footer_inner">
    <p> Code licensed under an <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache-2.0 License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </p>
  <p> Version 6.3.3-local+sha.d032804c.</p>
  </div>
</footer>