<div class="home_page" id="home">
  <div class="flexed_container">
    <div class="flex_box">
      <img src="https://cdn-images-1.medium.com/max/1200/1*vFxLildvZeG4DrqBH_2lxw.png" alt="">
    </div>
    <div class="flex_box">
      <h1>RxJS</h1>
      <span>Reactive Extensions Library for JavaScript</span><br /><br />
      <a routerLink="/installation">GET STARTED</a>
    </div>
  </div>
  <div class="description">
    <span>REACTIVE EXTENSIONS LIBRARY FOR JAVASCRIPT</span>
    <p>RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. This project is a rewrite of Reactive-Extensions/RxJS with better performance, better modularity, better debuggable call stacks, while staying mostly backwards compatible, with some breaking changes that reduce the API surface</p>
  </div>
  <div class="code_link">
    <hr>
    <div class="card">
      <a routerLink="/conduct">
        <div class="card_inner">
          <p>Please pay attention to our</p>
          <h3>Code of Conduct</h3>
        </div>
      </a>
    </div>
  </div>
</div>